body {
    line-height: 1.6;
}

.main-container {
    background-color: lightgrey;
    border-color: aquamarine;
    border-radius: 20px;
    border-width: 20px;
    margin-left: 14%;
    margin-right: 14%;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
    
h1 {
    font: italic bold 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2.2em;
    padding: 4%;
    color: black;
    text-decoration: underline;
    text-align: center;
}

h2 {
    font: italic 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2.5em;
    color: black;
    text-align: center;
}
    
h3 {
    font: italic bold 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2.5em;
    padding: 4%;
    color: black;
    text-align: center;
}

p {
    margin-bottom: 0;
    font: italic 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2em;
    padding: 4%;
    color: black;
    text-align: center;
}

a {
    color: black;
}

a img {
    display: block; /* Rendre visible l'image */
    margin: 0 auto; /* Centrer l'image */
    max-width: 100%; /* Assurer une bonne mise à l'échelle */
}

a:hover {
    color: #B169C9;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #AADAD7;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
