body {
    line-height: 1.6;
}

.main-container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
    border-color: aquamarine;
    border-radius: 20px;
    border-width: 20px;
    margin-left: 10%;
    margin-right: 10%;
    flex-direction: column;
    font-family: Arial, sans-serif;

h1 {
    font: italic bold 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 3em;
    padding: 3%;
    color: black;
    text-decoration: underline;
    box-shadow: #AADAD7;
    text-align: center;
}

h2 {
    font: italic 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2.5em;
    padding: 3%;
    color: black;
    text-align: center;
}
    
h3 {
    font: italic 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2.5em;
    padding: 3%;
    color: black;
    text-align: center;
}

p {
    font: italic bold 2.5rem verdana, sans-serif; /* Police relative */
    font-size: 2em;
    padding: 3%;
    color: black;
    text-decoration: underline;
    text-align: center;
}

a:hover {
    color: #B169C9;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #AADAD7;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}
